@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

html {
  --fondo: #1b770f;
  --dark: rgb(20, 20, 20);
  --bright: white;
  --grey: rgb(120, 120, 120);
  --font: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fondo);
  font-family: var(--font);
}

.action {
  background-color: var(--dark);
  text-decoration: none;
  color: var(--bright);
  padding: 0.25rem 1rem;
  border: 0;
}

/*  Header */

img {
  max-width: 100%;
}

body > header {
  background-image: url("../img/vaca-fondo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* body > header {
  display: flex;
  justify-content: space-evenly;
  color: var(--fondo);
}
 */
body > header nav {
  flex-grow: 1;
}

body > header nav ul {
  list-style: none;
  display: flex;
}

body > header nav ul li {
  margin: 0 0.5rem;
}

body > header nav ul li a {
  color: var(--dark);
  text-decoration: none;
}

body > header h1 {
  color: var(--bright);
  /* padding: 1rem; */
  text-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.5);
}

/* Primera section */

body > section#description {
  margin: 1rem;
}

body > section#description > p {
  padding: 0.5rem;
  font-weight: 300;
}

body > section#description h1 {
  padding: 0.5rem;
  color: var(--bright);
  font-weight: 900;
  font-size: 2rem;
}

/* Cows */

body > ul#cows {
  list-style: none;
}

body > ul#cows li article {
  margin-bottom: 1rem;
  background-color: var(--dark);
}

body > ul#cows li article figure img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  display: block;
}

body > ul#cows li article header h1 {
  color: var(--bright);

  text-align: center;
}

body > ul#cows li article p {
  color: var(--bright);
  padding: 1rem;
}

body > ul#cows li article a {
  background-color: var(--grey);
  color: var(--dark);
  text-decoration: none;
  display: block;
  padding: 1rem;
  text-align: center;
}

/* Form */

section#form {
  background-color: var(--bright);
  margin-bottom: 5rem;
}

section#form h1 {
  color: var(--fondo);
  font-weight: 900;
  font-size: 2rem;
}

section#form form fieldset {
  border: 0;
  margin-bottom: 0.5rem;
}

section#form form fieldset label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

section#form form input,
section#form form textarea,
section#form form select {
  width: 100%;
  border: 2px solid var(--dark);
  padding: 0.25rem;
  background-color: var(--fondo);
  color: var(--bright);
}

section#form form textarea {
  min-height: 10rem;
}

section#form form fieldset.inline label {
  display: inline;
}

section#form form fieldset.inline input {
  width: auto;
}

@media (min-width: 700px) {
  html {
    font-size: 20px;
  }

  body > header {
    min-height: 25rem;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  body > header nav {
    flex-grow: 0;
  }

  body > header h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  body > section#description h1 {
    font-size: 2.5rem;
  }

  body > section#description p {
    columns: 2;
  }

  body > ul#cows {
    display: flex;
    margin: 0 0.5rem;
  }

  body > ul#cows li:nth-child(2) {
    margin: 0 0.5rem;
  }
  section#form h1 {
    font-size: 2.5rem;
  }
  section#form form {
    display: flex;
    flex-wrap: wrap;
  }

  section#form form input,
  section#form form textarea,
  section#form form select {
    padding: 0.5rem;
  }

  section#form fieldset {
    width: 50%;
    padding: 0.5rem;
  }

  section#form fieldset.wide {
    width: 100%;
  }

  section#form button {
    margin: 0.5rem;
  }
}
